# Coding style for NMEA Simulator X. See docs/development/coding-standards.md.
BasedOnStyle: Google
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<nmeasim/'
    Priority: 2
  - Regex: '^<Q'
    Priority: 3
  - Regex: '^<(GeographicLib|CLI|catch2)/'
    Priority: 4
  - Regex: '^<'
    Priority: 5
InsertNewlineAtEOF: true
